.transaction-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.transaction {
    /* position: absolute; */
    width: 346.45px;
    height: 269.25px;
    /* left: 400px;
    top: 180.59px; */
    background: linear-gradient(113.08deg, #FFFFFF -242.51%, #1C101D 85.56%);
    backdrop-filter: blur(15.2011px);
    border-radius: 9.12064px;
}

.paypal {
    position: absolute;
    width: 234.76px;
    height: 207.7px;
    left: 280px;
    top: -160px;

    background: linear-gradient(110.53deg, #FFFFFF -265.46%, #14101D 96.75%);
    box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
    border-radius: 10px;

}

.btn {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
}

.container {
    background-image: url("../../../assets/images/background/third-left-background.png");
    background-repeat: no-repeat;
    background-position: left;
}